<!-- <div class="sidebar">
  <h3>Filters</h3>
  <div>
    <label>Category:</label>
    <select>
      <option value="">All</option>
      @for(category of category;track $index){
      <option value="category">{{category}}</option>
      }
    </select>
  </div>
  <div>
    <label>Sort By:</label>
    <select>
      <option value="">best selling</option>
      <option value="">highest price</option>
      <option value="">lowest price</option>
    </select>
  </div>
  <div>
    <label>Price Range:</label>
    <input type="range" id="slider" min="10" max="1000" step="5" value="500" (input)="onSliderChange($event)" />
    {{ sliderValue }}@if(sliderValue==1000){+}
  </div>
  <div>

  </div>
</div> -->